<h1 class="title is-3 mb-5">All Customers</h1>

<div class="buttons mb-4">
  <%= link_to "View Alphabetized Customers", alphabetized_customers_path, class: "button is-link" %>
  <%= link_to "View Customers Missing Email", missing_email_customers_path, class: "button is-warning" %>
</div>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <%= render "customer", customer: customer %>
  <% end %>
</div>
